.container.container-custom
  .row
    .col-md-12
      %h3
        - if @user.avatar.present?
          = image_tag(@user.avatar, class: 'user__avatar')
        = greeting


      - if @events.empty?
        %p.lead
          It doesn't look like you've created any events. Wanna make one now?
      - else
        %p.lead
          You can view all of your existing events below or
          = link_to 'create a new one', new_event_path
  .row
    - if @events.empty?
      .col-md-4
        .card
          = image_tag('events/1.jpg', class: 'card-img-top')
          .card-block
            %h4.card-title
              Your First Event
            %p.card-text
              Create an event then we can add guests and start on your song queue.
            = link_to new_event_path, class: 'btn btn-primary' do
              Let's Get Started!
    - else
      .col-md-12
        - @events.in_groups_of(3, false).each do |event_group|
          .row
            - event_group.each do |event|
              .col-md-4
                .card
                  = image_tag(event.avatar_image, class: 'card-img-top')
                  .card-block
                    %h4.card-title
                      = event.name
                    %p.card-text
                      = event.description
                    = link_to event_path(event), class: 'btn btn-primary' do
                      View Event
