- if owner?(@event)
  - if !current_user.user_spotify_authenticated?
    = link_to '/auth/spotify', class: "btn btn-primary" do
      %i.fa.fa-spotify
      Sign in with Spotify
  - else
    - if @event.currently_playing
      = link_to stop_playing_event_path, method: :post, class: "btn btn-primary" do
        %i.fa.fa-stop
        Stop Playing on Spotify
    - elsif !@event.currently_playing
      = link_to start_playing_event_path, method: :post, class: "btn btn-primary" do
        %i.fa.fa-play
        Play on Spotify

    - if @event.spotify_playlist_id.present?
      = link_to create_new_playlist_event_path, method: :post, class: "btn btn-primary" do
        %i.fa.fa-th-list
        Create new Playlist
    - else
      = link_to create_new_playlist_event_path, method: :post, class: "btn btn-primary" do
        %i.fa.fa-th-list
        Create Playlist

  - if @event.pnator_enabled
    = link_to '#pnator', class: 'btn btn-info' do
      %i.fa.fa-magic
      Magic Playlist
