= form_for(event) do |f|

  - if event.errors.any?
    %div.alert.alert-danger
      %a.close{ 'data-dismiss': 'alert' }
        %i.fa.fa-times

      %strong
        = pluralize(event.errors.count, 'error')
        prohibited this event from being saved:

      %ul
        - event.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control', required: true

  .form-group
    = f.label :join_code
    = f.text_field :join_code, class: 'form-control', required: true
    %small.form-text.text-muted
      The join code must be lowercase alphanumeric and may include a dash (-) or underscore (_)

  .form-group
    = f.label :image_url
    = f.text_field :image_url, class: 'form-control', required: false
    %small.form-text.text-muted
      Should be a direct link to an image. Can be left blank for a default image.

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', required: true

  .form-group
    %label{ for: 'pnator_on' } Enable Playlistinator
    %input{ name: 'pnator_on', id: 'pnatorToggle', type: 'checkbox' }

  %div{ id: 'pnatorFields' }
    .form-group
      %label{ for: 'pnator_danceability' } Danceability
      %input{ name: 'pnator_danceability', type: 'text', 'data-provide': 'slider',
              'data-slider-min': 0, 'data-slider-max': 100, 'data-slider-value': 50 }

    .form-group
      %label{ for: 'pnator_energy' } Energy
      %input{ name: 'pnator_energy', type: 'text', 'data-provide': 'slider',
              'data-slider-min': 0, 'data-slider-max': 100, 'data-slider-value': 50 }

    .form-group
      %label{ for: 'pnator_popularity' } Popularity
      %input{ name: 'pnator_popularity', type: 'text', 'data-provide': 'slider',
              'data-slider-min': 0, 'data-slider-max': 100, 'data-slider-value': 50 }

    .form-group
      %label{ for: 'pnator_speechiness' } Speechiness
      %input{ name: 'pnator_speechiness', type: 'text', 'data-provide': 'slider',
              'data-slider-min': 0, 'data-slider-max': 100, 'data-slider-value': 50 }

    .form-group
      %label{ for: 'pnator_happiness' } Happiness
      %input{ name: 'pnator_happiness', type: 'text', 'data-provide': 'slider',
              'data-slider-min': 0, 'data-slider-max': 100, 'data-slider-value': 50 }

  = f.submit class: 'btn btn-primary'
