:javascript
  window.eventId = #{@event.id};

.container.container-custom
  .row
    .col-md-8.offset-md-2
      .card
        .card-block
          %p.card-text.lead
            Invite some guests to join! You can use any of the following methods.

          %ul
            %li
              Provide them with the event code (
              %strong
                #{@event.join_code}
              ) and direct them to
              = link_to join_events_path, class: "nav-link" do
                %i.fa.fa-share
                Join an Event

            %li
              page, share this QR Code with them or direct them to this URL:

            %li
              Or direct them to this link:

      .card
        .event__banner{ style: "background-image: url('#{image_url(@event.avatar_image)}')"}
          .event__banner-overlay
          %h2.event__name
            = @event.name

            %small
              = link_to edit_event_path(@event), class: "event__edit" do
                %i.fa.fa-pencil
                Edit

        .card-block
          %p.card-text.lead
            = @event.description

          - if owner?(@event)
            %p.card-text
              %i.fa.fa-key
              Guest Join Code:
              %strong{ id: 'eventJoinCode' } #{@event.join_code}

            %p.card-text
              %a{ href: '#', id: 'eventQRPopover' }
                %i.fa.fa-qrcode
                QR Code

        - if owner?(@event)
          .card-footer.text-muted
            - if current_user.user_spotify_authenticated?
              = link_to start_playing_event_path, method: :post, class: "btn btn-primary" do
                %i.fa.fa-play
                Play on Spotify
            - else
              = link_to 'Sign in with Spotify', '/auth/spotify'

  .row
    .col-md-8.offset-md-2
      %form.search-form
        .form-group
          .input-group
            .input-group-addon
              %i.fa.fa-search
            %input.form-control.form-control-lg.search-entry{ type: 'text', placeholder: 'Search for Songs on Spotify' }
            .input-group-addon.search-results__close
              %i.fa.fa-times
          .search-results

      .songs-list
