.container.container-custom
  .row
    .col-md-12
      .card
        .event__banner{ style: "background-image: url('#{image_url(@event.avatar_image)}')"}
          .event__banner-overlay
          %h2.event__name
            = @event.name

            %small
              = link_to edit_event_path(@event), class: "event__edit" do
                %i.fa.fa-pencil
                Edit

        .card-block
          %p.card-text.lead
            = @event.description

        .card-footer.text-muted
          %i.fa.fa-key
          Guest Join Code:
          %strong #{@event.join_code}

  .row
    .col-md-6.offset-md-3
      %form
        .form-group
          .input-group
            .input-group-addon
              %i.fa.fa-search
            %input.form-control{ type: 'text', class: 'form-control', placeholder: 'Search for song name', id: 'songSearchEntry' }
          .search-results{ id: 'search-results' }





      %table.table.table-hover.table-bordered.table-striped
        %thead
          %th Title
          %th Artist
          %th Duration
          %th Points
        %tbody{ id: 'songsTableBody' }
