%html
  %head
    %title
      Play This

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

  %body{ class: "#{yield (:body_class)}" }
    %nav.navbar.navbar-fixed-top.bg-custom
      = link_to root_path, class: "navbar-brand" do
        %i.fa.fa-music
        Play This
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to root_path, class: "nav-link" do
            %i.fa.fa-home
            Home

      %ul.nav.navbar-nav.pull-xs-right
        %li.nav-item
          = link_to root_path, class: "nav-link" do
            %i.fa.fa-share
            Join an Event
        - if user_signed_in?
          %li.nav-item
            = link_to new_event_path, class: "nav-link" do
              %i.fa.fa-users
              Host an Event
          %li.nav-item.dropdown
            %button.btn.btn-primary.dropdown-toggle{ type: "button", "data-toggle": "dropdown" }
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to user_path(current_user), class: "dropdown-item" do
                  %i.fa.fa-user
                  Your Account
              %li
                = link_to destroy_user_session_path, :method => :delete, class: "dropdown-item" do
                  %i.fa.fa-sign-out
                  Sign Out

        - else
          %li.nav-item
            = link_to new_user_session_path, class: "nav-link" do
              %i.fa.fa-sign-in
              Sign In
          %li.nav-item
            = link_to new_user_registration_path, class: "nav-link" do
              %i.fa.fa-user-plus
              Sign Up


    #flash-display
      - unless flash.empty?
        .container.container-custom
          .row
            .col-md-12
              - flash.each do |name, msg|
                - if msg.is_a?(String)
                  %div{ class: "alert alert-#{name == :notice.to_s ? "success" : "danger"}" }
                    %a.close{ "data-dismiss": "alert" }
                      %i.fa.fa-times
                    = content_tag :div, msg, :id => "flash_#{name}"

    = yield
