%html
  %head
    %title
      Play This For Us

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
      = link_to "PlayThisFor.Us", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav
        %li.nav-item.active
          = link_to "Home", root_path, class: "nav-link"

    = yield
